md-dialog.md-transition-in {
	opacity: 1;
	-webkit-transform: translate(0, 0) scale(1);
	transform: translate(0, 0) scale(1)
}
md-dialog.md-transition-in,md-dialog.md-transition-out {
	-webkit-transition: all .4s cubic-bezier(.25, .8, .25, 1);
	transition: all .4s cubic-bezier(.25, .8, .25, 1)
}

.md-dialog-container {
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 24%;
	width: 100%;
	height: 100%;
	z-index: 80;
	overflow: hidden
}

.md-dialog-container,md-dialog {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex
}

.zdxx_title {
	background-color: #f2f4f3!important;
	color: #191919!important;
	max-height: 38px;
	min-height: 38px;
	border: 1px solid #cfcfcf
}

.zdxx_all_bj {
	width: 471px;
	height: 436px
}
.md-button.md-icon-button .md-ripple-container {
	-webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
	background-clip: padding-box
}

.md-button.md-icon-button {
	margin: 0 6px;
	height: 40px;
	min-width: 0;
	line-height: 24px;
	padding: 8px;
	width: 40px;
	border-radius: 50%
}

.md-button.md-icon-button .md-ripple-container {
	border-radius: 50%;
	overflow: hidden
}

.md-button.md-icon-button md-icon,button.md-button.md-fab md-icon {
	display: block
}
md-card .md-actions.layout-column .md-button:not(.md-icon-button),
md-card md-card-actions.layout-column .md-button:not(.md-icon-button) {
	margin: 2px 0
}
md-card .md-actions.layout-column .md-button:not(.md-icon-button):first-of-type,
md-card md-card-actions.layout-column .md-button:not(.md-icon-button):first-of-type {
	margin-top: 0
}
md-card .md-actions.layout-column .md-button:not(.md-icon-button):last-of-type,
md-card md-card-actions.layout-column .md-button:not(.md-icon-button):last-of-type {
	margin-bottom: 0
}
md-card .md-actions.layout-column .md-button.md-icon-button,
md-card md-card-actions.layout-column .md-button.md-icon-button {
	margin-top: 6px;
	margin-bottom: 6px
}

md-card .md-actions:not(.layout-column) .md-button:not(.md-icon-button),
md-card md-card-actions:not(.layout-column) .md-button:not(.md-icon-button) {
	margin: 0 4px
}
md-card .md-actions:not(.layout-column) .md-button:not(.md-icon-button):first-of-type,md-card md-card-actions:not(.layout-column) .md-button:not(.md-icon-button):first-of-type {
	margin-left: 0
}
[dir=rtl] md-card .md-actions:not(.layout-column) .md-button:not(.md-icon-button):first-of-type,[dir=rtl] md-card md-card-actions:not(.layout-column) .md-button:not(.md-icon-button):first-of-type {
	margin-left: auto;
	margin-right: 0
}
md-card .md-actions:not(.layout-column) .md-button:not(.md-icon-button):last-of-type,md-card md-card-actions:not(.layout-column) .md-button:not(.md-icon-button):last-of-type {
	margin-right: 0
}
[dir=rtl] md-card .md-actions:not(.layout-column) .md-button:not(.md-icon-button):last-of-type,[dir=rtl] md-card md-card-actions:not(.layout-column) .md-button:not(.md-icon-button):last-of-type {
	margin-right: auto;
	margin-left: 0
}
md-card .md-actions:not(.layout-column) .md-button.md-icon-button,md-card md-card-actions:not(.layout-column) .md-button.md-icon-button {
	margin-left: 6px;
	margin-right: 6px
}
md-card .md-actions:not(.layout-column) .md-button.md-icon-button:first-of-type,md-card md-card-actions:not(.layout-column) .md-button.md-icon-button:first-of-type {
	margin-left: 12px
}
[dir=rtl] md-card .md-actions:not(.layout-column) .md-button.md-icon-button:first-of-type,[dir=rtl] md-card md-card-actions:not(.layout-column) .md-button.md-icon-button:first-of-type {
	margin-left: auto;
	margin-right: 12px
}

md-card .md-actions:not(.layout-column) .md-button.md-icon-button:last-of-type,
md-card md-card-actions:not(.layout-column) .md-button.md-icon-button:last-of-type {
	margin-right: 12px
}
[dir=rtl] md-card .md-actions:not(.layout-column) .md-button.md-icon-button:last-of-type,[dir=rtl] md-card md-card-actions:not(.layout-column) .md-button.md-icon-button:last-of-type {
	margin-right: auto;
	margin-left: 12px
}


[dir=rtl] .md-icon-button+.md-datepicker-input-container {
	margin-left: auto;
	margin-right: 12px
}

.md-datepicker-triangle-button.md-button.md-icon-button {
	height: 36px;
	width: 36px;
	position: absolute;
	padding: 8px
}

.md-datepicker-open .md-icon-button+.md-datepicker-input-container {
	margin-left: -12px
}
[dir=rtl] .md-datepicker-open .md-icon-button+.md-datepicker-input-container {
	margin-left: auto;
	margin-right: -12px
}

md-list-item .md-list-item-inner .md-secondary-container .md-icon-button:last-of-type,
md-list-item .md-secondary-container .md-button:last-of-type,
md-list-item .md-secondary-container .md-icon-button:last-of-type {
	margin-right: 0
}
[dir=rtl] md-list-item .md-list-item-inner .md-secondary-container .md-button:last-of-type,
[dir=rtl] md-list-item .md-list-item-inner .md-secondary-container .md-icon-button:last-of-type,
[dir=rtl] md-list-item .md-secondary-container .md-button:last-of-type,
[dir=rtl] md-list-item .md-secondary-container .md-icon-button:last-of-type {
	margin-right: auto;
	margin-left: 0
}
.md-toolbar-tools .md-button.md-icon-button md-icon {
	-webkit-transition-duration: .5s;
	transition-duration: .5s;
	-webkit-transition-timing-function: cubic-bezier(.35, 0, .25, 1);
	transition-timing-function: cubic-bezier(.35, 0, .25, 1);
	-webkit-transition-property: background-color, fill, color;
	transition-property: background-color, fill, color
}

.md-toolbar-tools .md-button.md-icon-button md-icon.ng-animate,.md-toolbar-tools .md-button.ng-animate {
	-webkit-transition: none;
	transition: none
}

.person_sex .birth .person_content_date .md-datepicker-input .md-button.md-icon-button {
	margin: 0 14px
}
.person_sex .birth .person_content_date .md-datepicker-input-container .md-button.md-icon-button .md-datepicker-expand-triangle {
	position: absolute;
	top: 50%;
	left: 32%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 7px solid;
	color: #595b5a!important
}

md-checkbox.md-checked .md-ink-ripple,
md-checkbox.md-default-theme.md-checked .md-ink-ripple {
	color: #1FD273
}
.flex {
	-webkit-flex: 1;
	flex: 1
}

.flex,.flex-grow {
	-webkit-box-flex: 1;
	box-sizing: border-box
}


md-dialog,md-dialog md-dialog-content,md-dialog>form {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	overflow: auto
}

md-dialog .md-dialog-content {
	padding: 24px
}

md-dialog md-dialog-content {
	-webkit-box-ordinal-group: 2;
	-webkit-order: 1;
	order: 1;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-overflow-scrolling: touch
}

md-dialog md-dialog-content:not([layout=row])>:first-child:not(.md-subheader) {
	margin-top: 0
}
md-dialog md-dialog-content:focus {
	outline: 0
}
md-dialog md-dialog-content .md-subheader {
	margin: 0
}
md-dialog md-dialog-content .md-dialog-content-body {
	width: 100%
}
md-dialog md-dialog-content .md-prompt-input-container {
	width: 100%;
	box-sizing: border-box
}

.md-dialog-content h3 {
	font-size: 16px;
	font-weight: 700;
	padding-bottom: 24px
}
.addsupplier-dialog .md-dialog-content {
	padding: 24px 30px
}
.patient-select .md-dialog-content {
	width: 1200px
}


md-dialog.patient-select .md-dialog-content {
	padding: 20px
}

.patient-select .md-dialog-content .patient-dialog-head .btn-patient-type-switch {
	display: block;
	margin: 0;
	width: 89px;
	height: 34px;
	background-color: #eee;
	border-right: 1px solid #d2d2d2;
	border-top: 1px solid #d2d2d2;
	border-bottom: 1px solid #d2d2d2;
	line-height: 34px;
	text-align: center;
	cursor: pointer;
	color: #343434
}
.patient-select .md-dialog-content .patient-dialog-head .btn-patient-type-switch:nth-child(1) {
	border-left: 1px solid #d2d2d2;
	border-bottom-left-radius: 2px;
	border-top-left-radius: 2px
}

.patient-select .md-dialog-content .patient-dialog-head .btn-patient-type-switch:nth-last-child(1) {
	border-bottom-right-radius: 2px;
	border-top-right-radius: 2px
}

.patient-select .md-dialog-content .patient-dialog-head .btn-patient-type-switch.patient-type-selected {
	background-color: #1fd273;
	color: #fff
}

.patient-select .md-dialog-content .patient-dialog-body,
.patient-select .md-dialog-content .patient-dialog-filter {
	margin-top: 24px
}

.patient-select .md-dialog-content .patient-dialog-body .empty-desc {
	margin: 30px 0 20px;
	width: 100%;
	text-align: center
}

.patient-select .md-dialog-content .patient-dialog-body .empty-desc p {
	margin-top: 10px
}

.patient-select .md-dialog-content .patient-dialog-body .empty-desc img {
	width: 22px;
	height: 22px;
	display: inline-block
}

.patient-select .md-dialog-content .patient-dialog-filter .patient-search-keyword {
	border: none;
	width: 400px;
	height: 36px;
	background: url(../images/icons/search.svg) 0 center no-repeat;
	padding-left: 30px;
	border-bottom: 1px solid #d2d2d2;
	font-size: 16px
}

.patient-select .md-dialog-content .patient-dialog-filter .patient-search-sex {
	background: #fff;
	border: 1px solid #d2d2d2;
	width: 82px;
	height: 34px;
	border-radius: 3px
}

.patient-select .md-dialog-content .patient-dialog-body {
	font-size: 13px
}

.patient-select .md-dialog-content .btn-close-dialog {
	position: absolute;
	right: 0;
	top: 0;
	display: block;
	width: 32px;
	padding: 10px;
	color: #333;
	cursor: pointer
}

.patient-select .md-dialog-content .btn-close-dialog:hover {
	background-color: #fff;
	color: #333
}
.additional-dialog .md-dialog-content,
.diagnosis-dialog .md-dialog-content,
.orders-dialog .md-dialog-content {
	padding: 16px;
	font-size: 14px
}

.diagnosis-dialog .md-dialog-content md-list-item input,
.orders-dialog .md-dialog-content md-list-item input {
	margin-right: 8px;
	vertical-align: middle
}
.zdxx_btn_confirm {
	min-height: 42px
}

.zdxx_btn_confirm button {
	background-color: #1fd273;
	color: #fff;
	width: 100px;
	min-height: 28px;
	max-height: 28px;
	line-height: 28px;
	margin-right: 10px!important;
	border-radius: 3px;
	border: 0
}
.zdxx_btn_confirm button:hover {
	background-color: #1ab060
}
.zdxx_btn_confirm {
	min-height: 42px
}
.layout-align-end-stretch {
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	justify-content: flex-end
}

.layout-align-end-stretch,
.layout-align-space-around-stretch,
.layout-align-space-between-stretch,
.layout-align-start-stretch {
	-webkit-box-align: stretch;
	-webkit-align-items: stretch;
	-ms-grid-row-align: stretch;
	align-items: stretch;
	-webkit-align-content: stretch;
	align-content: stretch
}
.layout-row>md-divider,
.layout-sm-row>md-divider,
.layout-xl-row>md-divider,
.layout-xs-row>md-divider {
	border-top-width: 0;
	border-right-width: 1px;
	border-right-style: solid
}
md-radio-group.layout-row md-radio-button,
md-radio-group.layout-sm-row md-radio-button,
md-radio-group.layout-xl-row md-radio-button,
md-radio-group.layout-xs-row md-radio-button {
	margin: 0 16px 0 0
}
[dir=rtl] md-radio-group.layout-gt-lg-row md-radio-button,
[dir=rtl] md-radio-group.layout-gt-md-row md-radio-button,
[dir=rtl] md-radio-group.layout-gt-sm-row md-radio-button,
[dir=rtl] md-radio-group.layout-gt-xs-row md-radio-button,
[dir=rtl] md-radio-group.layout-lg-row md-radio-button,
[dir=rtl] md-radio-group.layout-md-row md-radio-button,
[dir=rtl] md-radio-group.layout-row md-radio-button,
[dir=rtl] md-radio-group.layout-sm-row md-radio-button,
[dir=rtl] md-radio-group.layout-xl-row md-radio-button,
[dir=rtl] md-radio-group.layout-xs-row md-radio-button {
	margin-left: 16px;
	margin-right: 0
}
md-radio-group.layout-gt-lg-row md-radio-button:last-of-type,
md-radio-group.layout-gt-md-row md-radio-button:last-of-type,
md-radio-group.layout-gt-sm-row md-radio-button:last-of-type,
md-radio-group.layout-gt-xs-row md-radio-button:last-of-type,
md-radio-group.layout-lg-row md-radio-button:last-of-type,
md-radio-group.layout-md-row md-radio-button:last-of-type,
md-radio-group.layout-row md-radio-button:last-of-type,
md-radio-group.layout-sm-row md-radio-button:last-of-type,
md-radio-group.layout-xl-row md-radio-button:last-of-type,
md-radio-group.layout-xs-row md-radio-button:last-of-type {
	margin-left: 0;
	margin-right: 0
}

.layout-row>.flex,.layout-row>.flex-0 {
	min-width: 0
}

.layout-row>.flex-0 {
	max-width: 0;
	max-height: 100%
}
.layout-column>.flex-0,.layout-row>.flex-0 {
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 0%;
	flex: 1 1 0%;
	box-sizing: border-box
}

.flex-5,.layout-row>.flex-5 {
	max-width: 5%;
	max-height: 100%
}
.flex-5,.layout-column>.flex-5,.layout-row>.flex-5 {
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 5%;
	flex: 1 1 5%;
	box-sizing: border-box
}
.flex-10,.layout-row>.flex-10 {
	max-width: 10%;
	max-height: 100%
}

.flex-10,.layout-column>.flex-10,.layout-row>.flex-10 {
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 10%;
	flex: 1 1 10%;
	box-sizing: border-box
}
.flex-15,.layout-column>.flex-15,.layout-row>.flex-15 {
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 15%;
	flex: 1 1 15%;
	box-sizing: border-box
}
.layout,.layout-column,.layout-row {
	box-sizing: border-box;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex
}
.layout-column,.layout-row {
	-webkit-box-direction: normal
}
.layout-row {
	-webkit-box-orient: horizontal;
	-webkit-flex-direction: row;
	flex-direction: row
}

.charge-wrap .absolute-btn .mk-disable-btn,.charge-wrap .absolute-btn .mk-green-btn {
	position: absolute;
	top: 0;
	right: 0;
	color: #fff
}
.recipe-list-card .mk-green-btn {
	border: none
}
.onlietipmask .onlinecontent .onlinebutton.mk-green-btn {
	width: 101px;
	height: 35px;
	line-height: 35px
}

.zk-rexxxxx .mk-green-btn {
	min-width: 68px;
	padding-left: 16px;
	padding-right: 16px;
	background-color: #1ed372;
	color: #fff
}
.mk-green-btn.zk-print {
	right: 0;
	top: 12px;
	position: absolute
}









